
<footer>
    <br/><hr>
    <div class="termos">
        <p>Termos e condições</p>
        <p>Politica de Cookies</p>
        <p>Politica de privacidade</p>
        <p> u save it 2021, Todos os direitos reservados</p>
    </div>

</footer>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>