<header>
    <div class="lista">Minha lista</div>
    <div class="comunidade">Comunidade</div>
    <div class="alta">Em alta</div>
    <label for="search">Pesquisar</label> 
    <input type="search" id=search>
    <img src="/img/google 1.png">
</header>

