<link rel="stylesheet" href="/css/style-cadastro.css">
<header class="home">

    <nav>
        <ul>
            <li class="mais"><a href="#saibaMais">Saiba Mais</a></li>
            <li class="criar"><a href="/cadastro">Criar conta</a></li>
            <li class="entrar2"><a href="/login">Entrar</a></li>
        </ul>
    </nav>

</header>