<header>

    <nav>
        <div class="types">
            <ul class="listaHeaderLogado">
                <li><p>Minha lista</p></li>
                <li><p>Cumunidade</p></li>
                <li><p>Em alta</p></li>
                <li><a href="/editarPerfil"></a><p>Editar perfil</p></li>
            </ul>
        </div>

        <!-- <div class="form_div"> -->
           <ul>
               <!-- <li><input type="text"></li> -->
               <!-- <li><img src="/img/search-icon.png"></li> -->
        </div>

        <div class="perfil">
            <input type="search" name="barraDeBusca" id="barraDeBusca">
            <!-- <img src="/img/Ellipse 6.png"> -->
        </div>
    </nav>
</header>
