<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>U Save it</title>
        <link rel="stylesheet" href="/css/style-cadastro.css">
    </head>
<body>

        <header class="cadastro">
    
            <nav>
                <ul>
                    <li class="mais"><a href="#">Saiba mais</a></li>
                    <li class="criar"><a href="#">Criar conta</a></li>
                    <li class="entrar2"><a href="/login">Entrar</a></li>
                </ul>
            </nav>
    
        </header>
        
      <main>
        <div class="container">
    
            <div class="box-white">
                <h1>Criar Conta</h1>

                <% if (typeof erro !== "undefined") { %>
                    <p><%= erro %></p>
                <% } %>
    
                <form action="/cadastro" method="POST">
                    <label for="nome">nome</label>
                    <input type="text" name="nome" id="nome">
    
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
    
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">

                    <label for="confirmaSenha">Confirmar senha</label>
                    <input type="password" name="confirmaSenha" id="confirmaSenha">
    
                    <button type="submit">enviar</button>
                </form>
                <a href="/login">já sou cadastrado</a>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>