<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U Save it</title>
    <link rel="stylesheet" href="/css/styleComunidade.css">
</head>
<body>

<header>

    <nav>
        <div class="types">
            <ul>
                <li><p>Minha lista</p></li>
                <li><p>Cumunidade</p></li>
                <li><p>Em alta</p></li>
            </ul>
        </div>

        <div class="form_div">
           <ul>
               <li><input type="text"></li>
               <li><img src="/public/img/search-icon.png"></li>
        </div>

        <div class="perfil">
            <img src="/public/img/Ellipse 6.png">
        </div>
    </nav>
</header>

<div class="comunidade">
    <div class="comunidade-texto">
      <h1 style="font-size:50px">Nossa Comunidade</h1>
      <h3>É ótimo compartilhar momentos com outras pessoas não é mesmo? 
        Seja a história de um livro, um momento de algum filme, alguma frase marcante de um anime ou mangá.
        Que tal compartilhar estes momentos com novas pessoas, ou com seus amigos, todos os dias?
        Conheça nossa comunidade na Amino, e conheça pessoas novas que possuem os mesmos interesses que você!
        Lá você poderá criar posts, ler teorias, bater papo por áudio, por vídeo, interagir com os posts de outras pessoas, fazer seus prórpios posts, criar enquetes, debates, fazer recomendações, compartilhar opniões, e muito mais!!
        Não perca mais tempo e faça parte da nossa comunidade!
        Esperamos você!</h3>
    </div>
</div>

<footer>
    <br/><hr>
    <div class="termos">
        <p>Termos e condições</p>
        <p>Politica de Cookies</p>
        <p>Politica de privacidade</p>
        <p> u save it 2021, Todos os direitos reservados</p>
    </div>
</footer>
</body>
</html>