<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta logada</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('./partials/header-logado')%> 

<h3>Recomendados para você</h3>

<ul id="Recomendados">
    <li><img src="/img/Rectangle 15-1.png" alt=""></li>
    <li><img src="/img/Rectangle 19.png" alt=""></li>
    <li><img src="/img/Rectangle 33-1.png" alt=""></li>
    <li><img src="/img/Rectangle 24.png" alt=""></li>
    <li><img src="/img/Rectangle 20.png" alt=""></li>
</ul>

<h3>Seus últimos save</h3>

<ul>
    <li><img src="/img/Rectangle 33.png" alt=""></li>
    <li><img src="/img/Rectangle 34-1.png"alt=""></li>
    <li><img src="/img/Rectangle 32.png" alt=""></li>
    <li><img src="/img/Rectangle 29.png" alt=""></li>
    <li><img src="/img/Rectangle 29.png" alt=""></li>
</ul>

<h3>Com base no seu interesse por Boku no hero academy</h3>

<ul>
    <li><img src="/img/Rectangle 29.png" alt=""></li>
    <li><img src="/img/Rectangle 29.png" alt=""></li>
    <li><img src="/img/Rectangle 29.png" alt=""></li>
    <li><img src="/img/Rectangle 29.png" alt=""></li>
    <li><img src="/img/Rectangle 29.png" alt=""></li>
</ul>


<%- include('./partials/footer')%> 
</body>
</html>