<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteudo</title>
    <link rel="stylesheet" href="/css/styleConteudo.css">
</head>

<body>
    <%- include('./partials/header-logado')%>

        <section>
            <h2 align="center"> Harry Potter e a Pedra Filosofal </h2>
            <img src="/img/hp-banner.png" width=100% alt="">
            <p>Harry Potter e a Pedra Filosofal é o primeiro dos sete livros da série de fantasia Harry Potter, escrita por J. K. Rowling. O livro conta a história de Harry Potter, um órfão criado pelos tios que descobre, em seu décimo primeiro aniversário, que é um bruxo.</p>

            <form action="" method="POST">
                
                <label for="capitulo">Capítulo:</label>
                <ul type="none">
                    <li>
                        <label for="capitulo">Capítulo 1</label>
                        <input type="checkbox" name="capitulo" value="1">
                    </li>
                    <li>
                        <label for="capitulo">Capítulo 2</label>
                        <input type="checkbox" name="capitulo" value="2">
                    </li>
                    <li>
                        <label for="capitulo">Capítulo 3</label>
                        <input type="checkbox" name="capitulo" value="3">
                    </li>
                    <li>
                        <label for="capitulo">Capítulo 4</label>
                        <input type="checkbox" name="capitulo" value="4">
                    </li>
                    <li>
                        <label for="capitulo">Capítulo 5</label>
                        <input type="checkbox" name="capitulo" value="5">
                    </li>
                    <li>
                        <label for="capitulo">Capítulo 6</label>
                        <input type="checkbox" name="capitulo" value="6">
                    <li>
                        <label for="capitulo">Capítulo 7</label>
                        <input type="checkbox" name="capitulo" value="7">
                    </li>
                </ul>

                <label for="pagina">Página:</label>
                <input type="number" name="pagina" id="pagina">

            </form>

            <h2>Informações da obra!</h2>
            <p>Período de publicação: 26 de junho de 1997 – presente.
                <br />
                Autora: J K Rowling
                <br />
                Gêneros: Romance, Literatura Infantil, Literatura fantástica, Alta fantasia.
                <br />
            </p>
        </section>

        <%- include('./partials/footer')%>
</body>

</html>