<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U Save it</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('./partials/header-logado') %>
<section>
    <h3>Recomendado para você</h3>
    <ul>
        <li><img src="/img/Rectangle 13-1.png" alt=""></li>
        <li><img src="/img/Rectangle 15-1.png" alt=""></li>
        <li><img src="/img/Rectangle 14-1.png" alt=""></li>
        <li><img src="/img/Rectangle 32-1.png" alt=""></li>
        <li><img src="/img/Rectangle 11-1.png" alt=""></li>
        <li><img src="/img/Rectangle 19-1.png" alt=""></li>
        <li><img src="/img/Rectangle 17-1.png" alt=""></li>

    </ul>
</section>

<section>
    <h3>Seus últimos saves</h3>
    <ul>
        <li><img src="/img/Rectangle 11-1.png" alt=""></li>
        <li><img src="/img/Rectangle 19-1.png" alt=""></li>
        <li><img src="/img/Rectangle 17-1.png" alt=""></li>
        <li><img src="/img/Rectangle 16-1.png" alt=""></li>
        <li><img src="/img/Rectangle 13-1.png" alt=""></li>
        <li><img src="/img/Rectangle 15-1.png" alt=""></li>
        <li><img src="/img/Rectangle 14-1.png" alt=""></li>

    </ul>
</section>

<section>
    <h3>Com base no seu interesse em...</h3>
    <ul>
        <li><img src="/img/Rectangle 12-1.png" alt=""></li>
        <li><img src="/img/Rectangle 20-1.png" alt=""></li>
        <li><img src="/img/Rectangle 25-1.png" alt=""></li>
        <li><img src="/img/Rectangle 17-1.png" alt=""></li>
        <li><img src="/img/Rectangle 34-1.png" alt=""></li>
        <li><img src="/img/Rectangle 33-1.png" alt=""></li>
        <li><img src="/img/Rectangle 16-1.png" alt=""></li>

    </ul>
</section>

<footer>
    <br/><hr>
    <div class="termos">
        <p>Termos e condições</p>
        <p>Politica de Cookies</p>
        <p>Politica de privacidade</p>
        <p> u save it 2021, Todos os direitos reservados</p>
    </div>
</footer>
</body>
</html>