<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U Save it</title>
    <link rel="stylesheet" href=".././public/css/stylePerfil.css">
</head>
<body>
    <header>
        <p>Minha lista</p>
        <p>Cumunidade</p>
        <p>Em alta</p>
        <input type="search" name="pesquisa" id="pesquisa">
    </header>
    <%- include('partials/footer') %>
</body>
</html>