@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

html{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
body{
    margin: 0px;
    width: 100%;
    background-image: url(../img/fundo-login.png);
    background-color:#FF8A4A;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*CSS do cadastro*/
.titulo{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
    text-align: center;
}

.caixa{
    width: 420px;
    height: 560px;
    background:rgba(247, 255, 245, 0.9);
    border-radius: 10px;
    padding: 5px 30px 30px 60px;
    margin-left: 410px;
    margin-top: 200px;
    text-align: center;
}


.termos{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

/*CSS da Navbar*/
header nav ul {
    list-style: none;
    background-color:#ebf3e400;
    height: 67px;
    margin-top: 0px;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: baseline;
}

header nav ul li {
    display: inline-block;
    margin-top: 5px;
    justify-content: flex-end;

}

header nav ul li a:any-link {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    display: inline-block;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

/* forms */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  justify-content: center
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  width: 80%;
  margin-top: 10px;
}

/* botão */
button {
  background-color: #ff9d4d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

header {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

nav {
    margin: 0;
    list-style: none;
    height: 65px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F7FFF5;
    color: #FF8A4A;

}

p {
    margin: 30px;
}

.criar{
    background-color: #78796B;
    border-radius: 6px;
}

.entrar2{
    background-color:#FF8A4A;
    border-radius: 6px;
}

.mais{
    background-color:#FF8A4A;
    border-radius: 6px;
    margin-left: 1200px;
    

}

ul {
    display: flex;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    margin-left: 30px;
    margin-top: 20px;    
}


.termos{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

footer{
    background-color:#F7FFF5;
    color: #FF8A4A;
    margin: 200px 0px 0px 0px;
    width: 100%;
}
